[Unit]
Description = Systemd Service starting the script to enable the ZRAM
After = network.target

[Service]
ExecStart = /usr/bin/zram.sh

[Install]
WantedBy = multi-user.target
